.cover {
    margin: 92px 0;

    background: url("../../images/cover__background.jpg") no-repeat center / cover;
    
    display: flex;
    text-align: center;
    text-decoration: none;
}

.cover:after {
    content: "";
    width: 0;
    height: 0;

    padding-top: calc(740 / 1184 * 100%);
  }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
      margin: 88px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .cover {
      margin: 64px 0;
    }
}