.place__url-heading {
    margin: 0 0 5px;
    padding: 0;

    color: #AAAAAA;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    
    letter-spacing: 2px;    
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__url-heading {
        margin: 0 0 9px;
    }
}